//custom variables
$primary: rgba(157, 172, 23, 1);
$secondary: rgb(98, 107, 14);
$body-bg: rgba(234, 249, 231, 1);

$light: #F4F6F8;
$dark: #45595B;

$font-family-base: 'Open Sans', sans-serif;

$headings-font-family: 'Raleway', sans-serif;

$body-color: #747d88;

$headings-color: $dark;

$headings-font-weight: 600;

$display-font-weight: 800;

$enable-responsive-font-sizes: true;

$border-radius: 10px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;
@import '../node_modules/bootstrap/scss/bootstrap';